/* style.css */
/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background: black;
}

.navbar {
    height: 100px;
    width: 1600px;
    max-width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    z-index: 10;
    padding: 0 20px;
}

.logo img {
    height: 150px;
    object-fit: contain;
} */

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 9999;
}

.bar {
    width: 30px;
    height: 3px;
    background: var(--clr-light);
    margin: 4px 0;
    transition: 0.4s;
}

.hamburger.open .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    background: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.85s ease;
    z-index: 9001;
}

/* 
.menu-logo{
    width: 150px;
    position: relative;
    top: -420px;
    right: -754px;
}

.menu-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.menu.active {
    left: 0;
}

.menu-container {
    display: flex;
    justify-content: center;
    max-width: 80%;
    width: 100%;
}

.menu-left {
    display: flex;
    flex-direction: column;
    width: 375px;
    padding: 0 0 0 40px;
    height: 100%;
    border-right: 1px solid var(--clr-slate600);
}

.menu-left a {
    color: var(--clr-light);
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem 0;
    transition: all 0.25s;
}

.menu-left a:hover {
    padding-left: 5px;
    color: var(--clr-rose);
    transition: all 0.25s;
}

.menu-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 40px;
}

.menu-header {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    height: 100%;
    gap: 10px;
}

.menu-header a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--clr-slate400);
    transition: all 0.25s;
}

.menu-header a:hover {
    padding-left: 5px;
    color: var(--clr-rose);
    transition: all 0.25s;
}

.menu-social {
    display: flex;
    gap: 10px;
}

.menu-social a {
    color: var(--clr-light);
    font-size: 1.35rem;
    text-decoration: none;
    margin: 0.5rem 0;
    transition: all 0.3s ease;
}

.menu-social a:hover {
    color: var(--clr-rose);
    padding-left: 2.5px;
    transition: all 0.3s ease;
}

.menu-address {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.menu-address span {
    font-size: 0.9rem;
    color: var(--clr-slate400);
}

.cart {
    font-size: 2rem;
    cursor: pointer;
    color: var(--clr-light);
}

/* Hero Section */
/* .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('/res/hero_image/hero-image.webp') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    padding: 20px;
} */


/* Responsive styles */
@media (max-width: 768px) {
    /* .logo img {
        height: 100px;
    } */


    .menu-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .menu-left {
        width: 100%;
        align-items: flex-start;
        border-right: none;
        padding-right: 0;
        padding-bottom: 40px;
        padding: 0;
        border-bottom: 1px solid var(--clr-slate400);
    }

    .menu-right {
        padding-left: 0;
        margin-top: 20px;
        width: 100%;
        align-items: flex-start;
    }

    .menu-left a {
        font-size: 1.5rem;
    }

    .menu-header {
        font-size: 1.2rem;
    }

    .menu-address {
        font-size: 1rem;
    }

    /* .hero-content {
        font-size: 2rem;
    } */
}