.lpcontainer {
    display: flex;
    width: 100%;
    height: 100vh;
}
.lpcontainer .two,
.one {
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    transition: all 0.65s;
}
.lpcontainer .one {
    flex: 1;
    height: 100%;
    background-image: url("/res/members/timelineLandImg.png");
}

.lpcontainer .one:hover {
    flex: 1.25;
}
.lpcontainer .two:hover {
    flex: 1.25;
}
.lpcontainer .two {
    flex: 1;
    background-image: url("/res/members/group.webp");
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
}
.two .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.one .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

/* @media (max-width: 768px) {
    .lpcontainer {
        flex-direction: column;
    }
} */