.contact{   
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--accent);
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: var();
    /* Makes it so you cant resized the textarea by dragging from the bottom right corner of the box */
    resize: none;
}

.contact .submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .btn{
    margin-bottom: 25px;
}

.captcha{
    display: flex;
    justify-content: center;
    align-items: center;
}