.account_container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
  }
  .account_container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  .account_container #flip:checked ~ .cover {
    transform: rotateY(-180deg);
  }
  .account_container #flip:checked ~ .forms .login-form {
    pointer-events: none;
  }
  .account_container .cover .front,
  .account_container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .cover .back {
    transform: rotateY(180deg);
  }
  .account_container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 100;
  }
  .account_container .cover .text {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .account_container .cover .text::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--clr-dark-grey);
  }
  .cover .text .text-1,
  .cover .text .text-2 {
    z-index: 20;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }
  .cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
  }
  .account_container .forms {
    height: 100%;
    width: 100%;
    background: #fff;
  }
  .account_container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-content .login-form,
  .form-content .signup-form {
    width: calc(100% / 2 - 25px);
  }
  .forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
  .forms .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: var(--clr-red);
  }
  .forms .signup-form .title:before {
    width: 20px;
  }
  .forms .form-content .input-boxes {
    margin-top: 30px;
  }
  .forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  .form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .form-content .input-box input:focus {
    border-color: var(--clr-red);
  }

  .button{
    border: 2px solid var(--clr-dark);
  }

  .form-content .input-box i {
    position: absolute;
    color: var(--clr-red);
    font-size: 17px;
  }
  .forms .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  
  .forms .form-content label {
    color: var(--clr-red);
    cursor: pointer;
  }
  .forms .form-content label:hover {
    text-decoration: underline;
  }
  .forms .form-content .login-text,
  .forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
  }
  .account_container #flip {
    display: none;
  }
  @media (max-width: 730px) {
    .account_container .cover {
      display: none;
    }
    .form-content .login-form,
    .form-content .signup-form {
      width: 100%;
    }
    .form-content .signup-form {
      display: none;
    }
    .account_container #flip:checked ~ .forms .signup-form {
      display: block;
    }
    .account_container #flip:checked ~ .forms .login-form {
      display: none;
    }
  }