.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--clr-rose);
    z-index: -100;
}

.hero_container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

section.hero_container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section .content h4 {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

section .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

section .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

section .content p {
    margin-bottom: 2rem;
    color: #ccc;
}

section .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 600px;
}


section .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .footer_logo img{
    max-width: 100px;
}

footer .column p {
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover {
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4 {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column>a {
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column>a:hover {
    color: var(--clr-rose);
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 960px) {
    section.hero_container {
        grid-template-columns: repeat(1, 1fr);
    }

    section.hero_container .image {
        grid-area: 1/1;
    }

    footer {
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px) {
    footer {
        grid-template-columns: 1fr 150px;
    }

    /* section .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
}