.shop-container {
    max-width: 1536px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

#cart-icon:hover{
    color: var(--clr-rose);
}


/* CART  */

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 450px;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    background: var(--clr-dark);
    transition: 0.5s;
    z-index: 9999;
}

.cart.active {
    right: 0;
    transition: 0.5s;
    position: fixed;
    background: var(--clr-dark);
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: #333;
    opacity: 0;
    z-index: 998;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cart-overlay.active {
    visibility: visible;
    opacity: 0.5;
}

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: #333;
    opacity: 0;
    z-index: 998;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mobile-overlay.active {
    visibility: visible;
    opacity: 0.5;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 450px;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    background: var(--clr-dark);
    transition: 0.5s;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-nav.active {
    left: 0;
    transition: 0.5s;
    padding-left: 16px;
    overflow-x: hidden;
    position: fixed;
    z-index: 9999;
    height: 100%;
    background: var(--clr-dark);
}

.mobilenav-Social--Links {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--hover-color);
    height: 15dvh;
    gap: 10px;
}

.mobilenav-Social--Links:hover .icon {
    opacity: 0.3;
}

.mobilenav-Social--Links .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    font-size: 1.125rem;
    line-height: 50px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.mobilenav-Social--Links .icon:nth-child(1):hover {
    background: var(--clr-light);
    color: #1ED760;
    opacity: 1;
}

.mobilenav-Social--Links .icon:nth-child(2):hover {
    background: var(--clr-light);
    color: #ff0000;
    opacity: 1;
}

.mobilenav-Social--Links .icon:nth-child(3):hover {
    background: var(--clr-light);
    color: #c13584;
    opacity: 1;
}

.mobilenav-Social--Links .icon:nth-child(4):hover {
    background: var(--clr-light);
    color: var(--clr-slate400);
    opacity: 1;
}

.cart-content {
    height: 82%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.cart-content::-webkit-scrollbar {
    display: none;
}

.cart-title {
    color: var(--clr-light);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0 1rem 0;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    margin-top: 1rem;
    border-bottom: 1px solid var(--clr-slate800);
    scroll-snap-align: end;
}

.total-section {
    height: 175px;
    border-top: 1px solid var(--clr-light);
    background: var(--clr-dark);
}

.cart-img {
    width: 150px;
    height: 125px;
    object-fit: cover;
    padding: 10px;
}

.detail-box {
    display: grid;
    height: 92.5%;
}

.cart-product-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--clr-light);
}

.cart-price {
    color: var(--clr-light);
    font-size: 1rem;
    font-weight: 600;
}

.cart-size {
    color: var(--clr-slate400);
    font-size: 0.85rem;
}

.cart-remove {
    font-size: 1.5rem;
    color: var(--clr-rose);
    cursor: pointer;
    transition: color 0.3s;
    width: 35px;
    padding: 5px;
    margin-top: 25px;
}

.cart-remove:hover {
    color: var(--clr-dark-rose);
    transition: color 0.3s;
}

.cart-quantity {
    color: var(--clr-slate400);
    font-size: 0.85rem;
}

.cart-product-info {
    display: flex;
    justify-content: space-between;
    width: 125%;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 15px;
}

.total-title {
    color: var(--clr-light);
    font-size: 2rem;
}

.total-price {
    color: var(--clr-light);
    font-size: 2rem;
}

.btn-buy {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    width: 85%;
    padding: 12px 55px;
    border: 1px solid var(--clr-light);
    background: var(--clr-light);
    color: var(--clr-dark);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
    border-radius: 3px;
}

.btn-buy:hover {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.btn-buy.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#cart-close {
    position: absolute;
    top: 0.7rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--clr-light);
    cursor: pointer;
}

#nav-close {
    position: absolute;
    top: 0.7rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--clr-light);
    cursor: pointer;
}


/* SHOP SECTION  */
.shop {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.info-section {
    padding: 10px;
}

.merch-box {
    transition: .3s;
    overflow: hidden;
}

.merch-box:hover {
    opacity: 0.85;
    transition: .3s;
}

.product-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
    cursor: pointer;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: var(--clr-light);
}

.shop-title {
    font-size: 2rem;
    font-weight: 600;
    padding: 25px;
    text-transform: uppercase;
    color: var(--clr-light);
}

.product-price {
    color: var(--clr-slate400);
}

.add-cart {
    background: var(--clr-dark);
    color: var(--clr-light);
    border: 2px solid var(--clr-light);
    cursor: pointer;
    padding: 0.75em 2.5em;
    width: 200px;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.add-cart:hover {
    background: var(--clr-light);
    color: var(--clr-dark);
}

.add-cart.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* Order Confirmation Modal */
.order-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.order_modal--content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.order_modal--close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.order_modal--close:hover,
.order_modal--close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 1080px) {
    .shop {
        margin-top: 2rem;
    }
}


/* For Small Devices */
@media (max-width: 22.5rem) {
    .shop {
        margin-top: 1rem;
    }
}


@media (max-height: 1100px) {
    .cart-content {
        height: 80%
    }
}

@media (max-height: 977px) {
    .cart-content {
        height: 79%
    }
}

@media (max-height: 915px) {
    .cart-content {
        height: 75%
    }
}

@media (max-height: 794px) {
    .cart-content {
        height: 74%
    }
}

@media (max-height: 760px) {
    .cart-content {
        height: 70%
    }
}

@media (max-height: 640px) {
    .cart-content {
        height: 65%
    }
}

@media (max-height: 550px) {
    .cart-content {
        height: 60%
    }
}

@media (max-height: 482px) {
    .cart-content {
        height: 50%
    }
}

@media (max-height: 390px) {
    .cart-content {
        height: 40%
    }
}