.shop-container {
    max-width: 1536px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#cart-icon {
    display: flex;
    font-size: 1.875rem;
    border-radius: 50%;
    cursor: pointer;
    color: var(--clr-light);
    transition: color 0.3s;
}

#cart-icon:hover {
    color: var(--clr-dark-rose);
    transition: color 0.3s;
}


/* CART  */
.cart {
    position: fixed;
    top: 0;
    right: -200%;
    width: 450px;
    height: 100%;
    padding-bottom: 10px;
    overflow: hidden;
    background: var(--clr-dark);
    transition: 0.5s;
    z-index: 9999;
}

.cart.active {
    right: 0;
    transition: 0.5s;
    position: fixed;
    background: var(--clr-dark);
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: #333;
    opacity: 0;
    z-index: 998;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cart-overlay.active {
    visibility: visible;
    opacity: 0.5;
}

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: #333;
    opacity: 0;
    z-index: 998;
    transition: opacity 1s ease, visibility 1s ease;
}

.mobile-overlay.active {
    visibility: visible;
    opacity: 0.5;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: -200%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    background: var(--clr-dark);
    transition: 1s ease-in-out;
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-nav.active {
    position: fixed;
    left: 0;
    width: 100%;
    transition: 1s ease-in-out;
    padding-left: 16px;
    overflow-x: hidden;
    z-index: 9998;
    height: 100%;
    background: var(--clr-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobilenav-Social--Links {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--clr-slate400);
    height: 15dvh;
    gap: 10px;
}

.mobilenav-Social--Links:hover .icon {
    opacity: 0.3;
}

.mobilenav-Social--Links .icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    font-size: 1.125rem;
    line-height: 45px;
    transition: all 0.3s;
    cursor: pointer;
}

.mobilenav-Social--Links .icon:nth-child(1):hover {
    background: var(--clr-light);
    color: #1ED760;
    opacity: 1;
}

.mobilenav-Social--Links .icon:nth-child(2):hover {
    background: var(--clr-light);
    color: #ff0000;
    opacity: 1;
}

.mobilenav-Social--Links .icon:nth-child(3):hover {
    background: var(--clr-light);
    color: #c13584;
    opacity: 1;
}

.mobilenav-Social--Links .icon:nth-child(4):hover {
    background: var(--clr-light);
    color: var(--clr-slate400);
    opacity: 1;
}

.cart-content {
    height: 82%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.cart-content::-webkit-scrollbar {
    display: none;
}

.cart-title {
    color: var(--clr-light);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0 1rem 0;
}

.cart-box {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-bottom: 1px solid var(--clr-slate800);
    scroll-snap-align: end;
}

.total-section {
    height: 175px;
    border-top: 1px solid var(--clr-light);
    background: var(--clr-dark);
}


.cart-img {
    width: 142px;
    height: 125px;
    object-fit: cover;
    padding: 10px;
    flex-shrink: 0;
}

.detail-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 0 10px;
    height: 105px;
}

.cart-product-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--clr-light);
}

.cart-price {
    color: var(--clr-light);
    font-size: 1rem;
    font-weight: 600;
}

.cart-size {
    color: var(--clr-slate400);
    font-size: 0.85rem;
}

.cart-remove {
    font-size: 1.5rem;
    color: var(--clr-rose);
    cursor: pointer;
    transition: color 0.3s;
    width: 35px;
    padding: 5px;
    position: absolute;
    right: 25px;
}

.cart-remove:hover {
    color: var(--clr-dark-rose);
    transition: color 0.3s;
}

.cart-quantity {
    color: var(--clr-slate400);
    font-size: 0.85rem;
}

.cart-product-info {
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 15px;
}

.total-title {
    color: var(--clr-light);
    font-size: 2rem;
}

.total-price {
    color: var(--clr-light);
    font-size: 2rem;
}

.btn-buy {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    width: 85%;
    max-width: 85%;
    padding: 12px 55px;
    border: 1px solid var(--clr-light);
    background: var(--clr-light);
    color: var(--clr-dark);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
    border-radius: 3px;
}

.btn-buy:hover {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.btn-buy.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#cart-close {
    position: absolute;
    top: 0.7rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--clr-light);
    cursor: pointer;
    transition: color 0.3s;
}

#cart-close:hover {
    color: var(--clr-slate400);
    transition: color 0.3s;
}

#nav-close {
    position: absolute;
    top: 0.7rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--clr-light);
    transition: color 0.3s;
    cursor: pointer;
}

#nav-close:hover{
    color: var(--clr-slate400);
    transition: color 0.3s;
}


/* SHOP SECTION  */
/* .shop {
    margin-top: 2rem;
    margin-bottom: 5rem;
} */

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding-top: 20px;
}

.info-section {
    padding: 10px;
}

.merch-box {
    transition: .3s;
    overflow: hidden;
}

.merch-box:hover {
    opacity: 0.85;
    transition: .3s;
}

.product-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
    cursor: pointer;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: var(--clr-light);
}

.shop-title {
    font-size: 2rem;
    font-weight: 600;
    padding: 25px;
    text-transform: uppercase;
    color: var(--clr-light);
}

.product-price {
    color: var(--clr-slate400);
    font-weight: 600;
}

.add-cart {
    background: var(--clr-dark);
    color: var(--clr-light);
    border: 2px solid var(--clr-light);
    cursor: pointer;
    padding: 0.75em 2.5em;
    width: 200px;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.add-cart:hover {
    background: var(--clr-light);
    color: var(--clr-dark);
}

.add-cart.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.order-modal {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.order_modal--content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    margin-top: 15rem;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    background: var(--clr-dark);
}

.order_modal--content h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--clr-light);
    padding: 20px 10px 0 10px;
}

.order_modal--content p {
    color: var(--clr-slate400);
    margin-bottom: 15px;
    margin-top: 10px;
}

.order_modal--close {
    position: relative;
    top: -205px;
    right: -240px;
    color: var(--clr-slate400);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.order_modal--close:hover,
.order_modal--close:focus {
    color: var(--clr-light);
    text-decoration: none;
    transition: color 0.3s;
}

.order_checkmark {
    height: 40px;
}

.order_checkmark i {
    color: #1faa50;
    font-size: 28px;
}

.checkmark-background {
    position: relative;
    top: -41px;
    background: #4bee84;
    opacity: 0.2;
    padding: 25px;
    border-radius: 5px;
}

.order_close--btn {
    background: var(--clr-light);
    color: var(--clr-dark);
    border: 1px solid var(--clr-light);
    cursor: pointer;
    padding: 1em 2.5em;
    width: 200px;
    transition: all 0.3s;
    text-align: center;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 10px;
}

.order_close--btn:hover {
    background: var(--clr-dark);
    color: var(--clr-light);
}

@media (max-width: 1080px) {
    .shop {
        margin-top: 2rem;
    }
}


/* For Small Devices */
@media (max-width: 22.5rem) {
    .shop {
        margin-top: 1rem;
    }
}


@media (max-height: 1100px) {
    .cart-content {
        height: 80%
    }
}

@media (max-height: 977px) {
    .cart-content {
        height: 79%
    }
}

@media (max-height: 915px) {
    .cart-content {
        height: 75%
    }
}

@media (max-height: 794px) {
    .cart-content {
        height: 74%
    }
}

@media (max-height: 760px) {
    .cart-content {
        height: 70%
    }
}

@media (max-height: 640px) {
    .cart-content {
        height: 65%
    }
}

@media (max-height: 550px) {
    .cart-content {
        height: 60%
    }
}

@media (max-height: 482px) {
    .cart-content {
        height: 50%
    }
}

@media (max-height: 390px) {
    .cart-content {
        height: 40%
    }
}

/* md */
@media (max-width: 569px) {
    .order_modal--content {
        max-width: 515px;
    }
    .order_modal--close{
        right: -220px;
    }
}

/* sm */
@media (max-width: 533px) {
    .order_modal--content {
        max-width: 475px;
    }

    .order_modal--close{
        right: -210px;
    }
}

/* xs */
@media (max-width: 492px) {
    .order_modal--content {
        width: 400px;
    }

    .order_modal--close{
        right: -175px;
    }
}


@media (max-width: 640px) {

}

@media (max-width: 600px) {

}

@media (max-width: 478px) {

}