:root {
    /* Colors */
    --clr-dark: #080808;
    --clr-dark-grey: #0e0e0e;
    --clr-light: #fefefe;
    --clr-grey: #929292;
    --clr-lighter-dark-grey: #1e232b;
    --clr-red: #ff3333;
    --clr-dark-rose: #ac2222;

    /* Sizes */
    --size-xxs: 0.65rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--clr-dark);
    line-height: calc(1em + 0.5rem);
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

button {
    background: transparent;
    border: none;
}

.main {
    min-height: 63dvh;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 63dvh;
}

.scroll_up--button {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 2.5rem;
    color: var(--clr-light);
    cursor: pointer;
    margin: 15px;
    border-radius: 4px;
    transition: all 0.3s;
}

.scroll_up--button:hover {
    color: var(--clr-grey);
    transition: all 0.3s;
}


/* ***************** */
/* Container Section */
/* ***************** */
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar-container {
    max-width: 1536px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-top: 5rem;
}

.section-background {
    min-height: 75dvh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--clr-dark-grey);
}

.tours_slider--section {
    min-height: 75dvh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact-section {
    min-height: 40dvh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--clr-dark-grey);
}

.section-title {
    text-align: center;
    font-family: 'Sentient', serif;
    font-size: var(--size-6xl);
    text-transform: uppercase;
    padding: 3rem;
    color: var(--clr-light);
    line-height: 3rem;
    font-weight: 500;
}

/* ************** */
/* Navbar Section */
/* ************** */
.navbar {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.nav-left--section {
    margin-right: auto;
    padding: 15px;
    z-index: 9002;
}

.nav-center--section {
    display: flex;
    z-index: 9002;
}

.center-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-left--list {
    display: flex;
}

.center-logo {
    width: 150px;
    height: 75px;
}

.center-logo .logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
}


.center-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-right--list {
    display: flex;
    margin-left: auto;
}

.nav-item {
    position: relative;
    color: var(--clr-light);
    font-size: var(--size-lg);
    margin: 0 25px;
}

.nav-item::before {
    content: '';
    background: var(--clr-red);
    height: 2.5px;
    width: 0px;
    position: absolute;
    bottom: -5px;
    transition: 450ms;
}

.nav-item:hover::before {
    width: 50px;
    transition: 350ms;
}

.active-link {
    position: relative;
    color: var(--clr-red);
    font-size: var(--size-lg);
    margin: 0 25px;
}

.active-link::before {
    content: '';
    background: var(--clr-red);
    height: 2.5px;
    width: 25px;
    position: absolute;
    bottom: -5px;
    transition: 450ms;
}

.nav-right--section {
    margin-left: auto;
    /* padding: 15px 15px 15px 150px; */
    padding: 15px;
    z-index: 9002;
}

.cart-icon-count {
    position: relative;
    top: -1px;
    right: 12px;
    width: 18px;
    height: 18px;
    background: var(--clr-red);
    border-radius: 50%;
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

#total-items {
    font-size: 0.75rem;
    color: var(--clr-light);
    opacity: 0;
}

#total-items.enabled {
    opacity: 1;
}



/* ********************* */
/* Mobile Navbar Section */
/* ********************* */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 9999;
}

.nav_bar {
    width: 30px;
    height: 3px;
    background: var(--clr-light);
    margin: 4px 0;
    transition: 0.4s;
}

.nav_bar:nth-child(2) {
    width: 35px;
}

.hamburger.open .nav_bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger.open .nav_bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .nav_bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    height: 100dvh;
    overflow-y: auto;
    background: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.85s ease;
    z-index: 9001;
}

.menu_header {
    position: fixed;
    top: 0;
    padding: 40px 0;
    width: 95%;
    z-index: 10000;
    background: var(--clr-dark);
}

.menu.active {
    left: 0;
}

.menu-container {
    display: flex;
    justify-content: center;
    max-width: 80%;
    width: 100%;
}

.menu-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    padding: 0 0 0 40px;
    height: 100%;
    border-right: 1px solid var(--clr-grey);
}

.menu-left a {
    color: var(--clr-light);
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem 0;
    transition: all 0.25s;
}

.menu-left a:hover {
    padding-left: 5px;
    color: var(--clr-red);
    transition: all 0.25s;
}

.menu-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 40px;
}

.menu-header {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    height: 100%;
    gap: 10px;
}

.menu-header a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--clr-grey);
    transition: all 0.25s;
}

.menu-header a:hover {
    padding-left: 5px;
    color: var(--clr-red);
    transition: all 0.25s;
}

.menu-social {
    display: flex;
    gap: 10px;
}

.menu-social a {
    color: var(--clr-light);
    font-size: 1.35rem;
    text-decoration: none;
    margin: 0.5rem 0;
    transition: all 0.3s ease;
}

.menu-social a:hover {
    color: var(--clr-red);
    padding-left: 3.5px;
    transition: all 0.3s ease;
}

.menu-address {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.menu-address span {
    font-size: 0.9rem;
    color: var(--clr-grey);
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .menu-left {
        width: 100%;
        align-items: flex-start;
        border-right: none;
        padding-right: 0;
        padding: 0 0 20px 10px;
        border-bottom: 1px solid var(--clr-grey);
    }

    .menu-right {
        padding-left: 10px;
        margin-top: 20px;
        width: 100%;
        align-items: flex-start;
    }

    .menu-left a {
        font-size: 1.5rem;
    }

    .menu-header {
        font-size: 1.2rem;
    }

    .menu-address {
        font-size: 1rem;
    }
}


/* *********** */
/* Btn Section */
/* *********** */
.btn {
    background: var(--clr-dark);
    color: var(--clr-light);
    border: 2px solid var(--clr-light);
    cursor: pointer;
    padding: 1em 2.5em;
    width: 200px;
    transition: all 0.3s;
    text-align: center;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.btn:hover {
    background: var(--clr-light);
    color: var(--clr-dark-grey);
}

#btn {
    text-decoration: none;
    border: 2px solid var(--clr-light);
    background: var(--clr-dark);
    color: var(--clr-light);
    padding: 1em 2.5em;
    font-size: 0.875rem;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

#btn:hover {
    border: 2px solid var(--clr-dark);
    background: var(--clr-light);
    color: var(--clr-dark);
}


/* ************ */
/* Hero Section */
/* ************ */
.hero-section {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}


.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    position: absolute;
    text-align: center;
    max-width: 80%;
    padding: 0 20px;
    z-index: 1;
}

.hero-title {
    color: var(--clr-light);
    font-size: clamp(2rem, calc(7vw + 1rem), 6rem);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hero-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: var(--size-sm);
    color: var(--clr-grey);
}

.hlink:hover {
    border-bottom: 1px solid var(--clr-grey);
}

/* ************ */
/* Home Section */
/* ************ */
.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.news-card {
    position: relative;
    width: 445px;
    height: 445px;
    transition: all 0.3s;
}


.news-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70%;
}

.news-info--section {
    width: 100%;
    transition: background 0.3s;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.news-card:hover {
    transition: all 0.3s;
    transform: scale(1.025);
}

.news-card:hover .news-info--section {
    background: var(--clr-dark-grey);
    transition: all 0.3s;
}

.news-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.news-card .credit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40px;
    right: 0;
    left: 0;
    font-size: 0.75rem;
    color: var(--clr-light);
}

.credit a:hover {
    border-bottom: 1px solid var(--clr-light);
}

.news-card .headline-date {
    color: var(--clr-red);
    font-size: 1.2rem;
}

.news-card .headline {
    color: var(--clr-light);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}



/* ************************** */
/* About Landing Page Section */
/* ************************** */
.landing_page--container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.landing_page--container .two,
.one {
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    transition: all 1s;
}

.landing_page--container .one {
    flex: 1;
    height: 100%;
    background-image: url("/res/members/timelineLandImg.png");
}

.landing_page--container .two {
    flex: 1;
    height: 100%;
    background-image: url("/res/members/group.webp");
}

.landing_page--container .one:hover {
    flex: 1.5;
    transition: all 0.6s;
}

.landing_page--container .two:hover {
    flex: 1.5;
    transition: all 0.6s;
}

.content {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.two .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.one .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.landing_page--links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2.25rem;
    color: var(--clr-light);
    text-transform: uppercase;
    font-weight: 700;
}

.landing_credit {
    position: relative;
    bottom: 0;
    color: var(--clr-light);
}


/* ************* */
/* About Section */
/* ************* */
.about-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 25rem;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-info p {
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0 2rem;
    color: var(--clr-grey);
    max-width: 550px;
    text-align: center;
}


/* ************** */
/* Member Section */
/* ************** */
.member {
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.member-cards {
    position: relative;
    width: 370px;
    height: 370px;
    transition: .35s;
}

.member-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Increase the size of the cards when you hover over them */
.member-cards:hover {
    transform: scale(1.01);
    transition: 0.35s;
}

/* sets the height to zero so that the overlay doesn't show up */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, black 75%);
    overflow: hidden;
    padding: 0 40px;
    text-align: center;
    font-size: 0.875rem;
    transition: 1.15s;
}

.member-cards .overlay h2 {
    font-weight: 800;
    margin: 50% 0 0 0;
    font-size: 2.188rem;
    color: var(--clr-light);
    text-align: center;
}

.member-cards .overlay p {
    font-weight: 500;
    margin: 10px 0 85px 0;
    font-size: 1.125rem;
    color: var(--clr-grey);
    text-align: center;
}

/* Changes the height of the overlay making it rise until it hits whatever the height is set at. */
.member-cards:hover .overlay {
    height: 100%;
    transition: .85s;
}



/* ************** */
/* Merch Section */
/* ************** */
.number {
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    background: transparent;
    color: var(--clr-light);
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
    color: var(--clr-light);
}

.number-input button {
    background: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.35rem;
    cursor: pointer;
}

.quantity-container {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}


.number-input input[type=number] {
    max-width: 2.5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 1rem;
    height: 2.35rem;
    text-align: center;
}

.number-input button {
    color: var(--clr-light);
}

.product-description {
    max-width: 500px;
    color: var(--clr-grey);
}

.size-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.size-list .sizes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
    width: 85px;
    height: 40px;
    position: relative;
    color: var(--clr-light);
    transition: background 0.3s;
}

.size-list .sizes:hover {
    color: var(--clr-dark);
    background: var(--clr-light);
    transition: background 0.3s;
}

.size-list label,
.size-list input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.size-list input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.size-list input[type="radio"]:checked+label,
.Checked+label {
    background: var(--clr-light);
    color: var(--clr-dark);
}

.size-list label {
    padding: 5px;
    border: 1px solid var(--clr-light);
    cursor: pointer;
    z-index: 90;
}

.hat_size {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
    width: 175px;
    height: 40px;
    position: relative;
    color: var(--clr-light);
    transition: background 0.3s;
}

.hat_size:hover {
    color: var(--clr-dark);
    background: var(--clr-light);
    transition: background 0.3s;
}

.merch-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 70px 100px;
    gap: 50px;
    text-transform: uppercase;
}

.merch_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.merch_img--container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.merch_img--card {
    height: 600px;
    width: 600px;
}

.merch_img--card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.merch_content span {
    color: var(--clr-light);
    font-size: 0.875rem;
}

.merch_content span a:hover {
    border-bottom: 1px solid var(--clr-light);
}

.merch_content h1 {
    color: var(--clr-light);
    font-size: 2rem;
    margin-bottom: 22px;
    text-transform: uppercase;
    max-width: 575px;
}

.merch_content h2 {
    color: var(--clr-light);
    font-size: 2rem;
}

.merch_suggestions--container {
    max-width: 1568px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.empty-cart-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: var(--clr-grey);
    text-align: center;
}

.empty-cart-message p {
    margin: 10px 0;
    font-size: 1.5rem;
}

/* ************** */
/* Tour Section */
/* ************** */
.tours {
    display: grid;
    max-width: 1536px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
}

.tour-card {
    display: flex;
    grid-template-columns: subgrid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border: 1px solid rgb(75, 82, 92);
    /* background: #222429; */
    background-image: url(/res/king_of_clubs.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: border 0.3s;
    text-align: center;
    height: 400px;
}

.tour_card-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
}


.tour-card:hover {
    border: 1px solid rgb(124, 128, 134);
    transition: border 0.3s;
}

.tour-card .tour-dates {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--clr-light);
    text-transform: uppercase;
    padding: 10px 10px 0 10px;
}

.tour-card .tour-location {
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-light);
    padding: 10px;
    line-height: 2rem;
}

.tour-card .tour-place {
    font-weight: 500;
    font-size: 1rem;
    color: var(--clr-light);
    padding: 0 5px 10px 5px;
}


.tours-btn {
    background: var(--clr-light);
    color: var(--clr-dark);
    border: 2px solid var(--clr-dark);
    cursor: pointer;
    padding: 1em 2.5em;
    width: 200px;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.tours-btn:hover {
    background: var(--clr-dark);
    color: var(--clr-light);
    border: 2px solid var(--clr-light);
    transition: all 0.3s;
}

.tour_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}


.tour_form .tour_email-input-container,
.tour_form .tour_tickets-input-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.tour_modal {
    margin: auto;
    width: 842px;
    min-height: 375px;
    background: var(--clr-dark);
    z-index: 1000;
}

.tour_modal--header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    background: var(--clr-dark-grey);
}

.tour_modal h2 {
    color: var(--clr-light);
}

.tour_modal label {
    color: var(--clr-light);
}

.tour_modal p {
    color: var(--clr-grey);
}

.tour_modal .tour_form .required {
    color: var(--clr-red);
}

.tour_btn {
    background: var(--clr-dark-grey);
    color: var(--clr-light);
    border: 2px solid var(--clr-light);
    cursor: pointer;
    padding: 1em 2.5em;
    width: 100%;
    transition: all 0.3s;
    text-align: center;
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.tour_btn:hover {
    background: var(--clr-light);
    color: var(--clr-dark-grey);
}

.tour_modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.tour_modal--close {
    position: relative;
    top: -75px;
    right: 10px;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
    transition: color 0.3s;
    color: var(--clr-light);
}

.tour_modal--close:hover {
    color: var(--clr-grey);
}


.tour_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: transparent;
}


/* ************** */
/* Albums Section */
/* ************** */
.albums-page {
    display: grid;
    max-width: 1536px;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
}

.albums-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.albums-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Increase the size of the cards when you hover over them */
.albums-cards:hover {
    transform: scale(1.015);
    transition: 0.3s;
}

.albums-buttons {
    display: flex;
    gap: 5px;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 72.5%;
    padding: 100px 40px 100px 40px;
    text-transform: uppercase;
}


.main_img--container {
    justify-self: center;
}

.main_img--card {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 15px 15px 35px;
}

.main_content h1 {
    color: var(--clr-light);
    font-size: 3.75rem;
    text-transform: uppercase;
    margin-bottom: 50px;
    line-height: 3.5rem;
}

.main_content .album_date {
    font-size: 1.5rem;
    color: var(--clr-light);
    padding: 5px
}

.bottom_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.albums_songs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.songs {
    padding-bottom: 10px;
    margin-top: 2px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-grey);
}


/* ******************** */
/* Music Player Section */
/* ******************** */
.player {
    /* max-width: 640px; */
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 16px;
    position: relative;
    padding: 20px 0 5px 0;
    border-top: 3px solid var(--clr-dark-grey);
}

.player {
    cursor: pointer;
}

#playerbtn {
    cursor: pointer;
}

.control,
#current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
}

#playbtn {
    font-size: 1.5rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr-light);
    cursor: pointer;
}

#playbtn:hover {
    -webkit-text-fill-color: var(--clr-light);
}

.info {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    color: var(--clr-light);
    padding: 0;
    margin: 0;
    width: 210px;
}

.current {
    color: var(--clr-light);
    margin: 0 0 0 auto;
}

.bar {
    --space: -2.75px;
    overflow: hidden;
    left: 0;
    right: 0;
    top: var(--space);
    bottom: var(--space);
    position: absolute;
}

.progress {
    display: block;
    width: var(--progress, 0%);
    background: var(--clr-light);
    transition: all 1s linear;
    height: 3%;
}

.album_soundtrack {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


/* ******************** */
/* Contact Form Section */
/* ******************** */
.contact-page {
    padding: 25px;
}

.contact_button--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 1536px;
}

.contact form input,
.contact form textarea,
.contact form select,
.contact form option {
    gap: 25px;
    padding: 12.5px;
    margin-bottom: 15px;
    border: 1px solid var(--clr-light);
    background: var(--clr-light);
    color: var(--clr-dark);
    field-sizing: content;
}

.contact form textarea {
    min-height: 7rem;
}

.contact form input:focus,
.contact form textarea:focus {
    border: 1px solid var(--clr-grey);
    outline: none;
}

/* the name input boxes  */
/* Container for the name input and label */
.name-input-container {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.email-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70.5%;
}

.tour_email-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.subject-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70.5%;
}

/* .tickets-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

.message-textbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70.5%;
}

.select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70.5%;
}


#issue-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70.5%;
}

.contact form label {
    color: var(--clr-light);
    padding: 5px 5px 5px 0;
    width: 100%;
}

.contact form .required {
    color: var(--clr-red);
}

/* the name input boxes  */
#first_name,
#last_name {
    width: 100%;
    /* Use 100% to fill the container width */
}

/* the email input box */
#email {
    width: 100%;
}

#tour_email {
    padding: 10px;
    width: 100%;
}


/* the subject input box */
#subject {
    width: 100%;
}

#tickets {
    padding: 10px;
    width: 100%;
}

/* the message textarea */
#message {
    width: 100%;
    resize: none;
}

#description {
    width: 100%;
    resize: none;
}

#group {
    width: 100%;
}

#issue {
    width: 100%;
}

/* container for the submit btn */
.contact .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.submit-btn button {
    width: 250px;
}

.tour_submit-btn{
    width: 100%;
}

.contact .btn {
    margin-bottom: 25px;
}

/* *************** */
/* Fanclub Section */
/* *************** */
.perk {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.perk_card--container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.perk_card {
    width: 200px;
    border-radius: 5px;
}

.perk_card img {
    width: 100%;
}

.perk_container {
    padding: 2px 16px;
    color: white;
}

.hero_container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

section.hero_container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section .content h4 {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

section .content h2 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

section .content h2 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

section .content p {
    margin-bottom: 2rem;
    color: #ccc;
}

section .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 600px;
}


section .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (width < 960px) {
    section.hero_container {
        grid-template-columns: repeat(1, 1fr);
    }

    section.hero_container .image {
        grid-area: 1/1;
    }
}


/* *************** */
/* Credits Section */
/* *************** */
.credits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

.credits-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border: 1px solid rgb(75, 82, 92);
    background: var(--clr-dark);
    transition: border 0.3s;
    text-align: center;
    height: 400px;
}

.credits-card p {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--clr-light);
    text-transform: uppercase;
    padding: 10px;
}

.credits-card a,
.credits-card span {
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-light);
    padding: 10px;
    line-height: 2rem;
    transition: color 0.3s;
}

.credits-card a:hover {
    color: var(--clr-grey);
    transition: color 0.3s;
}

.credits-card:hover {
    border: 1px solid rgb(124, 128, 134);
    transition: border 0.3s;
}


/* ************** */
/* Footer Section */
/* ************** */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 175px;
    margin-bottom: 10px;
    gap: 10px;
}

.footer p {
    color: var(--clr-light);
    font-size: 0.9375rem;
}

.footer p:nth-child(2) {
    color: var(--clr-grey);
    font-size: 0.9375rem;
}

.footer-socials {
    display: flex;
    gap: 10px;
}

.footer-socials a {
    color: var(--clr-light);
    font-size: 1.125rem;
    text-decoration: none;
    margin: 1.5rem 0;
    transition: all 0.3s ease;
}

.footer-socials a:hover {
    color: var(--clr-red);
    padding-left: 2px;
    transition: all 0.3s ease;
}

.footer .made_by {
    width: 250px;
    color: var(--clr-grey);
}



/* ******************* */
/* Media Query Section */
/* ******************* */

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }

    .order_modal--content {
        max-width: 1280px;
    }

    .navbar-container {
        max-width: 1280px;
    }

    .merch_img--card {
        width: 550px;
        height: 550px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    .order_modal--content {
        max-width: 1024px;
    }

    .navbar-container {
        max-width: 1024px;
    }

    .merch_img--card {
        width: 500px;
        height: 500px;
    }

    .submit-btn button {
        width: 225px;
    }

    .perk_card--container {
        display: flex;
        flex-wrap: wrap;
        height: 800px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .order_modal--content {
        max-width: 768px;
    }

    .navbar-container {
        max-width: 768px;
    }

    /* 
    .section {
        margin-top: 5rem;
    } */

    .header-social--links {
        display: none;
    }

    .navbar .center-right--list,
    .navbar .center-left--list {
        display: none;
    }

    .nav-left--section {
        margin-right: auto;
    }

    .nav-right--section {
        padding: 0 0 0 15px;
    }

    .main_container {
        grid-template-columns: 1fr;
        width: 90%;
        height: 85%;
    }

    .bottom_container {
        flex-direction: column-reverse;
    }

    .main_img--container {
        display: flex;
        justify-content: center;
        /* padding-left: 0px; */

    }

    .main_img--card {
        height: 375px;
        width: 375px;
    }

    .main_content {
        text-align: center;
        margin-bottom: 3rem;
        padding-top: 20px;
    }

    .main_content h1 {
        font-size: 4rem;
        margin-top: 8rem;

    }

    .main_content h2 {
        font-size: 2.5rem;
    }

    .main_content p {
        margin-bottom: 1.5rem;
    }


    .merch_img--card {
        width: 400px;
        height: 400px;
    }

    .merch-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .merch_content {
        justify-content: center;
        align-items: center;
    }

    .merch_img--container {
        justify-content: center;
    }

    .section-title {
        font-size: var(--size-5xl);
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    .order_modal--content {
        max-width: 640px;
    }

    .navbar-container {
        max-width: 640px;
    }

    .merch_img--card {
        width: 375px;
        height: 375px;
    }

    .submit-btn button {
        width: 200px;
    }

    .news-card {
        width: 435px;
        height: 435px;
    }

    .perk {
        font-size: 1.875rem;
        margin: 130px 0 50px 0;
        background: #000000;
    }

    .landing_page--container {
        flex-direction: column;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }

    .order_modal--content {
        max-width: 475px;
    }

    .navbar-container {
        max-width: 475px;
    }

    .main_content {
        padding-top: 10px;
    }

    .main_content h1 {
        font-size: 3rem;
        margin-top: 3rem;
    }

    .main_content h2 {
        font-size: 2rem;
    }

    .main_content p {
        margin-top: 2rem;
    }

    .merch_content h1 {
        font-size: 2rem;
    }

    .cart {
        width: 100%;
    }

    .cart.active {
        width: 100%;
    }

    .submit-btn button {
        width: 185px;
    }

    .main_content {
        padding-left: 15px;
    }

    .name-input-container {
        width: 45%;
    }

    .email-input-container {
        width: 92%;
    }
/* 
    .tickets-input-container {
        width: 92%;
    } */

    .subject-input-container {
        width: 92%;
    }

    .message-textbox-container {
        width: 92%;
    }

    .select-container {
        width: 92%;
    }

    .news-card {
        width: 420px;
        height: 420px;
    }

}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }

    .order_modal--content {
        width: 100%;
    }

    .navbar-container {
        width: 100%;
    }

    .size-list .sizes {
        width: 65px;
        height: 40px;
    }

    .submit-btn button {
        width: 150px;
    }

    .news-card {
        width: 400px;
        height: 400px;
    }
}


@media (max-height: 768px) {
    .menu {
        padding-top: 100px;
    }
}

@media (max-height: 622px) {
    .menu {
        padding-top: 150px;
    }
}

@media (max-height: 576px) {
    .menu {
        padding-top: 225px;
    }
}

@media (max-height: 485px) {
    .menu {
        padding-top: 325px;
    }
}


.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.about_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    color: var(--clr-light);
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.about_container {
    padding: 0 16px;
}

.about_container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}