:root {
    /* Colors */
    --clr-dark: #0c0d0f;
    /* #0c0807 */
    /* #0c0d0f */
    /* #070a13 */
    /* #191919 */
    --clr-light: #edf0f1;
    /* #fafafa */
    --clr-slate400: #94a3b8;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-rose: #e11d48;
    /* #DC0000 */
    /* #e0d2bc */
    --clr-dark-rose: #881337;
    --clr-indigo: #4f46e5;
    --clr-active-link: #be123c;
    --hover-color: #272832;

    /* Sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--clr-dark);
    line-height: calc(1em + 0.5rem);
    scroll-behavior: smooth;
    overflow-x: hidden;
}


/* ***************** */
/* Container Section */
/* ***************** */
.container {
    /* max-width: 100%; */
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
}

.navbar-container {
    max-width: 1400px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
    z-index: 9998;
}

.section {
    margin-top: 5rem;
}

.section-title {
    align-items: center;
    text-align: center;
    font-family: 'Sentient', serif;
    font-size: var(--size-5xl);
    text-transform: uppercase;
    padding: 3rem;
    color: var(--clr-rose);
}

.section-title hr {
    border: none;
    height: 7px;
    width: 13%;
    border-radius: 10px;
    background: var(--clr-rose);
    margin-bottom: var(--size-2xl);
}


/* ************** */
/* Navbar Section */
/* ************** */
.navbar {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.nav-left--section {
    margin-right: auto;
    padding: 15px;
}

.header-social--links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-social--links:hover {
    .icon {
        opacity: 0.3;
    }
}

.header-social--links .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    transition: all 0.3s;
    cursor: pointer;
}

.header-social--links .icon:hover {
    background: var(--clr-indigo);
    color: red;
    opacity: 1;
}

/* .bar{
    width: 25px;
    height: 4px;
    margin: 5px auto;
    transition: all .5s ease-in-out;
    cursor: pointer;
    background: #fff;
} */

.nav-center--section {
    display: flex;
}

.center-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-left--list {
    display: flex;
}

.center-logo {
    width: 150px;
    height: 75px;
}

.center-logo .logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-right--list {
    display: flex;
    margin-left: auto;
}

.nav-item {
    color: var(--clr-light);
    font-size: var(--size-xl);
    padding: 0 25px;
}

.nav-right--section {
    margin-left: auto;
    padding: 15px 15px 15px 158px;
}

#cart-icon {
    position: relative;
    display: flex;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--clr-light);
}

#cart-icon .cart-icon-count {
    position: absolute;
    top: 0px;
    right: -6px;
    width: 18px;
    height: 18px;
    background: var(--clr-rose);
    border-radius: 50%;
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile-nav--icon {
    display: none;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--clr-light);
}


.skip-link {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: var(--clr-rose);
    color: var(--clr-light);
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: opacity 0.3s ease;
}

.skip-link:focus {
    opacity: 1;
    pointer-events: auto;
    color: var(--clr-light);
}



/* ********************* */
/* Mobile Navbar Section */
/* ********************* */
.mobile-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: var(--clr-rose);
    padding: 65px 20px 40px;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s allow-discrete;
}

.mobile-nav.active {
    visibility: visible;
    opacity: 1;
}

.mobile-nav--social-section {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: space-evenly;
    align-items: center;
    background: var(--clr-light);
    padding: 25px;
    gap: 10px;
}

.mobile-nav--social-section .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    transition: all 0.3s;
    cursor: pointer;
}

.mobile-nav--social-section:hover {
    .icon {
        opacity: 0.3;
    }
}

.mobile-nav--social-section .icon:hover {
    background: var(--clr-indigo);
    color: red;
    opacity: 1;
}

#mobile-nav--close {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}


/* *********** */
/* Btn Section */
/* *********** */
.btn {
    text-decoration: none;
    border: 2px solid var(--clr-light);
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 1em 2.5em;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.btn:hover {
    background-color: var(--clr-light);
    color: var(--clr-slate600);
    transition: 0.3s;
}


/* ************ */
/* Hero Section */
/* ************ */
.hero-section {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    background-image: url("../res/brigh_night_concert/optimized-bnc.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    text-align: center;
    z-index: 2;
    max-width: 80%;
    padding: 0 20px;
    height: 100%;
}

.hero-title {
    color: var(--clr-light);
    font-size: clamp(2rem, calc(7vw + 1rem), 6rem);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-link {
    position: absolute;
    bottom: -345px;
    right: 0;
    left: 0;
    text-decoration: none;
    font-size: 15px;
    color: var(--clr-slate400);
}

.hero-btn {
    padding: 25px;
}


/* ************ */
/* Home Section */
/* ************ */


/* ************** */
/* About Section */
/* ************** */
.about {
    padding: 100px 0 20px 0;
    text-align: center;
}

.about-info {
    margin: 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 35rem;
}

.about-img img {
    width: 75%;
    height: 75%;
    border-radius: 5px;
    object-fit: contain;
}

.about-info p {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0 2rem;
    color: var(--clr-slate400);
    max-width: 550px;
    text-align: justify;
}


/* ************** */
/* Member Section */
/* ************** */
.member {
    padding: 100px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.member-cards {
    position: relative;
    border-radius: 8px;
    width: 370px;
    height: 370px;
    transition: .35s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    border: 1px solid rgb(75, 82, 92);
}

.member-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Increase the size of the cards when you hover over them */
.member-cards:hover {
    transform: scale(1.01);
    transition: 0.35s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);
    border: 1px solid rgb(124, 128, 134);
}

/* sets the height to zero so that the overlay doesn't show up */
.overlay {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, black 100%);
    border-radius: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 1.15s;
}

.member-cards .overlay h2 {
    font-weight: 800;
    margin: 50% 0 0 0;
    font-size: 35px;
    color: var(--clr-light);
    text-align: center;
}

.member-cards .overlay p {
    font-weight: 500;
    margin: 10px 0 185px 0;
    font-size: 18px;
    color: var(--clr-slate400);
    text-align: center;
}

/* Changes the height of the overlay making it rise until it hits whatever the height is set at. */
.member-cards:hover .overlay {
    height: 100%;
    transition: .85s;
}



/* ************** */
/* Merch Section */
/* ************** */
.shop {
    background: white;
    padding: 100px 9% 30px;
}

.shop-section--title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.product-box .img-box {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background: lightgray;
}

.img-box img {
    width: 100%;
    transition: 0.5s;
}

.img-box:hover {
    transform: scale(1.02);
}

.product-box .product-title {
    font-size: 20px;
    margin-top: 10px;
}

.product-box .price-and--cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-and--cart .price {
    font-size: 18px;
    font-weight: 500;
}

.price-and--cart .add-to--cart {
    padding: 7px;
    background-color: var(--clr-rose);
    border-radius: 6px;
    font-size: 20px;
    color: var(--clr-light);
    cursor: pointer;
}


.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 31%;
    height: 100%;
    background-color: var(--clr-indigo);
    padding: 65px 20px 40px;
    z-index: 100;
    overflow: auto;
    transition: right 0.4s;
    z-index: 9999;
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    display: none;
}

/* The Class active changes the right property of .cart to 0 from -100% so that 
 it slides in from the right of the screen */
.cart.active {
    right: 0;
    transition: right 0.4s;
}

/* This only gives the div with the id #overlay a display of block when the div
 with the .cart class has the class .active  */
.cart.active~#overlay {
    display: block;
}

.cart-content {
    max-height: 630px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.cart-content::-webkit-scrollbar {
    display: none;
}

.cart-title {
    font-size: 50px;
    font-weight: 700;
}

.cart-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 1px solid var(--clr-dark);
    scroll-snap-align: end;
}

.cart-box img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
    background: lightgray;
}

.cart-detail {
    display: grid;
    gap: 8px;
    margin-right: auto;
}

.cart-prodcut--title {
    font-size: 16px;
    line-height: 1;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    display: flex;
    width: 100px;
    border: 1px solid var(--clr-slate400);
    border-radius: 6px;
}

.cart-quantity button {
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cart-quantity #decrement {
    color: var(--clr-slate400);
}

.cart-quantity .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid var(--clr-slate400);
    border-right: 1px solid var(--clr-slate400);
    cursor: default;
}

.remove-from--cart {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.total-section {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--clr-light);
    padding: 25px;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--clr-slate800);
    margin-top: 20px;
    padding-top: 15px;
    font-size: 30px;
    font-weight: 700;
}

.total-price {
    margin-left: 10px;
    font-weight: 600;
}

.btn-buy {
    display: block;
    padding: 10px 75px;
    background: var(--clr-dark);
    border: none;
    font-size: 16px;
    color: var(--clr-light);
    margin: 20px auto 0;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid var(--clr-dark);
}

.btn-buy:hover {
    background: var(--clr-light);
    color: var(--clr-dark);
    transition: all 0.3s;
}

#cart-close {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

/* ************** */
/* Tour Section */
/* ************** */
/* .tour-home {
    min-height: 40dvh;
    background: grey;
    justify-content: center;
    text-align: center;
}

.tour-home h1 {
    font-weight: 800;
    color: black;
    font-size: 50px;
    padding: 200px 50px 50px 50px;
}

.tours {
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tours-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tour-cards {
    width: 430px;
    height: 500px;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    background: var(--clr-light);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(255 255 255 / 0.6);
    text-align: center;
    font-size: 14px;
    transition: 0.35s;
    ;
}

.tour-cards:hover {
    transform: scale(1.025);
    transition: 0.35s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1.4);
}

.tour-cards img {
    width: 100%;
    min-height: 301px;
}

.tour-cards h1 {
    text-align: center;
    font-size: 30px;
}

.tour-cards p {
    font-weight: 500;
    font-size: 20px;
}



.tour-cards a {
    margin: 10px 0 80px 0;
    color: var(--clr-light);
    text-decoration: none;
    font-size: 14px;
    background: var(--clr-rose);
    border-radius: 5px;
    text-align: center;
    padding: 5px 15px;
    transition: 0.4s;
    cursor: pointer;
} */

.tours {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

.tour-card {
    padding: 2em;
    border: 1px solid rgb(75, 82, 92);
    border-radius: 10px;
    background-color: #222429;
    text-align: center;
    transition: border 0.3s;
}

.tour-card:hover {
    border: 1px solid rgb(124, 128, 134);
    transition: border 0.3s;
}

.tour-card h2 {
    color: var(--clr-light);
}

.tour-card p {
    color: var(--clr-slate400);
}



/* ************** */
/* Albums Section */
/* ************** */
.our-albums {
    padding: 100px 0 220px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.albums-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.albums-cards {
    position: relative;
    border-radius: 10px;
    width: 410px;
    height: 409px;
    margin: 10px;
    transition: 0.45s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.albums-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Increase the size of the cards when you hover over them */
.albums-cards:hover {
    transition: 0.45s;
    box-shadow: 0 1px 1px 0 whitesmoke, 0 1px 1px 0 whitesmoke;
}

.albums-page {
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* ************************ */
/* Individaul Album Section */
/* ************************ */
.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 90%;
    width: 87%;
    z-index: 1;
    padding: 100px 40px 144px 40px;
    text-transform: uppercase;
    background: var(--background-light);
}

.main_content {
    color: aliceblue;
}

.main_img--container {
    justify-self: center;
}

.main_img--card {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.main_img--card img {
    border-radius: 10px;
}

.main_content h1 {
    background: linear-gradient(to right, #DC0000, #850000);
    background-clip: text;
    color: transparent !important;
    font-size: 4rem;
    margin-bottom: 22px;
    text-transform: uppercase;
    align-self: center;
}


/* ===========This is for th images that link to another album================================ */

.OtherAlbums {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.OtherAlbumsCards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 10%;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.OtherAlbumsCards img {
    border-radius: 10px;
}

.H1Container {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    height: 10%;
    width: 800px;
    flex-wrap: wrap;
    cursor: grab;

}

.main_contentV2 h1 {
    background: linear-gradient(to right, #DC0000, #850000);
    background-clip: text;
    color: transparent !important;
    font-size: 4rem;
    margin-bottom: 32px;
    text-transform: uppercase;
    padding-right: auto;
    flex-wrap: wrap;
}

.songs {
    padding-bottom: 20px;
}

.Soundtrack {
    padding-bottom: 10px;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 600;
    color: var(--clr-light);
}

.active-song {
    color: blue;
}

.Soundtrack span {
    border-bottom: solid 2px var(--clr-light);
    padding: 5px;
}

.Soundtrack .song-length {
    padding-left: 75px;
}

.play-icon {
    padding: 10px;
    font-size: 21px;
    transition: 0.3s ease;
    cursor: pointer;
}

.play-icon .fa-circle-pause {
    cursor: pointer;
    transition: 0.3s ease;
}

.play-icon:hover {
    color: var(--clr-rose);
    transition: 0.3s ease;
}

.play-icon .fa-circle-pause:hover {
    color: var(--primary);
    transition: 0.3s ease;
}

/* @media screen and (max-width:1440px) {
    .songs {
        padding-left: 25px;
    }
} */


/* ***********E********* */
/* Contact Form Section */
/* ******************** */
.contact-page {
    padding: 25px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.contact form input,
.contact form textarea {
    gap: 25px;
    padding: 12.5px;
    margin-bottom: 15px;
    border: 1px solid var(--clr-slate400);
    background: var(--clr-light);
    color: var(--clr-dark);
}

/* the name input boxes  */
#first_name {
    width: 35%;
}

#last_name {
    width: 35%;
}

/* the email input box */
#email {
    width: 70.5%;
}

/* the subject input box */
#subject {
    width: 70.5%;
}

/* the message textarea */
#message {
    width: 70.5%;
    resize: none;
    padding-bottom: 45px;
}

/* container for the submit btn */
.contact .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact .btn {
    margin-bottom: 25px;
}

/* container for the captcha box */
.captcha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thank-you-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.thank-you-page h1 {
    color: var(--clr-slate400);
}

.thank-you-page a {
    color: var(--clr-light);
    text-decoration: none;
}

.thank-you-page a:hover {
    border-bottom: 1px solid var(--clr-light);
}

/* ************** */
/* Footer Section */
/* ************** */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    color: var(--clr-slate400);
    font-size: var(--size-xl);
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--clr-slate400);
    height: var(--size-3xl);
    width: var(--size-3xl);
    cursor: pointer;
    padding: 20px;
    border-radius: 25px;
    transition: all 0.3s;
}

.footer-links:hover {
    .links {
        transition: all 0.3s;
        opacity: 50%;
    }
}

.links i {
    color: var(--clr-light);
    transition: all 0.3s;
}

.links:hover i {
    color: red;
}

.copyright a {
    color: var(--clr-slate400);
    text-decoration: none;
}

.copyright a:hover {
    border-bottom: 1px solid var(--clr-slate400);
}


/* ******************* */
/* Media Query Section */
/* ******************* */

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }

    .navbar-container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    .navbar-container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .navbar-container {
        max-width: 768px;
    }

    .section {
        margin-top: 10rem;
    }

    #mobile-nav--icon {
        display: flex;
    }

    .header-social--links {
        display: none;
    }

    .navbar .center-right--list,
    .navbar .center-left--list {
        display: none;
    }

    .nav-left--section {
        margin-right: auto;
    }

    .nav-right--section {
        padding: 15px;
        margin-left: auto;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    .navbar-container {
        max-width: 640px;
    }

    .cart {
        width: 100%;
    }

    .mobile-nav {
        width: 100%;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }

    .navbar-container {
        max-width: 475px;
    }

    .contact form {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #first_name {
        width: 120%;
    }

    #last_name {
        width: 120%;
    }

    #email {
        width: 120%;
    }

    #subject {
        width: 120%;
    }

    #message {
        width: 125%;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }

    .navbar-container {
        width: 100%;
    }
}