:root {
    --swiper-navigation-size: 35px;
}

/* Swiper Container */
.swiper-wrapper {
    display: flex;
    align-items: center;
    height: 450px;
}

.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    padding-bottom: 100px;
}

.swiper-slide {
    cursor: grab;
    aspect-ratio: 1 / 1;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 5px;
}

.tour-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: var(--clr-light);
    padding: 10px;
}

.tour-link a:hover {
    border-bottom: 1px solid var(--clr-light);
}

.swiper-tour-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(75, 82, 92);
    background: #222429;
    transition: border 0.3s;
    text-align: center;
    height: 100%;
    width: 100%;
}

.swiper-tour-card:hover {
    border: 1px solid rgb(124, 128, 134);
    transition: border 0.3s;
}

.swiper-tour-card .slider_card--date {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--clr-light);
    text-transform: uppercase;
    padding: 10px;
}

.swiper-tour-card .slider_card--location {
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-light);
    padding: 10px;
    line-height: 2rem;
}

.swiper-tour-card .slider_card--place {
    font-weight: 500;
    font-size: 1rem;
    color: var(--clr-light);
    padding: 0 5px 10px 5px;
}


/* Increase the size and Increase the shadow on the slides when your hover over one  */
.swiper-slide:hover {
    transition: 0.3s;
}

.swiper-slide img {
    object-fit: cover;
}

/* .swiper-slide a {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


/* Changes the active pagination bullet*/
.swiper-pagination-bullet-active {
    /* remove if doesnt work */
    height: 18px;
    width: 18px;
}

.swiper-pagination-bullet {
    background: var(--clr-light);

    /* remove if doesnt work */
    height: 14px;
    width: 14px;
    margin: 2.5px;
}

.swiper-pagination-bullet:hover {
    background: var(--clr-grey);
}

/* Changes the color of the arrows */
.swiper-button-next,
.swiper-button-prev {
    font-size: 0.0625rem;
    height: 5px;
    color: var(--clr-light);
    transition: color 0.3s;
    cursor: pointer;
}


/* Changes the color of the arrows when you hover over them*/
.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--clr-grey);
    transition: color 0.3s;
}


@media screen and (max-width: 800px) {

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-tour-card {
        width: 95%;
        height: 100%;
    }
}